.header {
    height:95vh; /*This will not allow whole page to be full,
    the space in the bottom*/
    background-image: linear-gradient( 
        to  right  bottom,
    rgba($color-primary, 0.8),
    rgba($color-primary-dark, 0.8)),url(../img/hero.jpg); /*Add color to the bg-img*/
    background-size: cover;
    background-position: top;
    clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    //nesting  here

    &__logo-container{
        position: absolute;
        top:4rem;
        left: 4rem;
    }

    &__logo{
        height: 35px;
    }

    &__text-conatiner{
        position: absolute;
        /*top: 40% relative to the parent(header), left:50%*/
        top:40%;
        left:50%; 
       
        /*Center them, this will be in relative to the  individual elements span*/
       transform: translate(-50%, -50%); 
       
       text-align: center;
       }
       
}